@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}


body {
  background: var(--background);
  color: var(--foreground);
}


h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #FA198B;
  font-size: 60px;
}

h4, h5, p {  
  font-family: "Inter", sans-serif;
}